doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Formulario Héroe
    link(rel='stylesheet', href='/css/crearCarta.css')
  body
    .banner
      main
        img(src='/img/banner.png', alt='banner')
        h1 CREACIÓN DE HÉROES
    .container
      header
        h1 Crear nuevo Héroe
      form.card-form(action='/admin/crearcarta', method='post', enctype='multipart/form-data')
        label(for='nombre') Nombre:
        input(type='text', name='nombre', id='nombre', required)
        label(for='clase') Clase:
        select(name='clase', id='clase', required)
          option(value='Guerrero') Guerrero
          option(value='Mago') Mago
          option(value='Pícaro') Pícaro
        label(for='tipo') Tipo:
        select(name='tipo', id='tipo', required)
          option(value='Tanque') Tanque
          option(value='Armas') Armas
          option(value='Fuego') Fuego
          option(value='Hielo') Hielo
          option(value='Veneno') Veneno
          option(value='Machete') Machete
        label(for='poder') Poder:
        input(type='number', name='poder', id='poder', required)
        label(for='vida') Vida:
        input(type='number', name='vida', id='vida', required)
        label(for='defensa') Defensa:
        input(type='number', name='defensa', id='defensa', required)
        label(for='ataqueBase') Ataque Base:
        input(type='number', name='ataqueBase', id='ataqueBase', required)
        label(for='ataqueRnd') Ataque Rnd:
        input(type='number', name='ataqueRnd', id='ataqueRnd', required)
        label(for='dano') Daño:
        input(type='number', name='dano', id='dano', required)
        label(for='estado') Estado:
        select(name='estado', id='estado', required)
          option(value='true') Activo
          option(value='false') Inactivo
        label(for='descripcion') Descripción:
        textarea(name='descripcion', id='descripcion', required)
        label(for='precio') Precio:
        input(type='number', name='precio', id='precio', required)
        label(for='stock') Stock:
        input(type='number', name='stock', id='stock', required)
        label(for='descuento') Descuento:
        input(type='number', name='descuento', id='descuento', required)
        label(for='imagen')
          span.custom-upload-button Subir imagen:
          input(type='file', name='imagen', id='imagen', accept='image/*', required)
          span.file-name(id='file-name-span')
        button(type='submit') Crear carta
  script(src="/js/scriptImagen.js")
